extends ../layout

block content
  section
    h4.text-center Please allow browser to access your camera and microphone ↑.
  #video-container
    video#my-video(muted=true, autoplay=true)

  section
    h4.text-center
      | Call URL: 
      a(href="http://dopemob.2013.nodeknockout.com/room/#{room._id}") http://dopemob.2013.nodeknockout.com/room/#{room._id}
      | Pass this URL to invite more people (limited to 5) or open in new tab to test.

block footer_scripts
  script.
    var avChat = undefined;
    peer.on('open', function(id) {
      avChat = AudioVideoChat.get("#{room._id}", peer, audioVideoChat);
    });

    function audioVideoChat() {
      socket.emit('subscribe', {room: "#{room._id}", peer: peer.id});
      socket.on('connect with user', function(data) {
        if (peer.id !== data.peer) {
          avChat.makeCall(data.peer);
        }
      });
    }
